<form action="/cpapp", method="POST">
    Company Name:<br>
    <input type="text" name="company" value=""><br>
    Position Field:<br>
    <input type="text" name="field" value=""><br>
    Position:<br>
    <input type="text" name="position" value=""><br><br>
    <input type="submit" value="Submit">
</form>