<h3>Congratulations, you were assigned to an internship!</h3> <br>

Student IT: {{studentIt}} <br>
Company Name: {{companyName}} <br>
Position: {{companyJob}} <br>
<br>
<a href="/">Go back to main page!</a>



