<form action="/stapp", method="POST">
    User it:<br>
    <input type="text" name="it"><br>
    Current Semester:<br>
    <input type="number" name="semester"><br>
    Non Passed Lessons:<br>
    <input type="number" name="npl"><br><br>
    <input type="submit" value="Submit">
</form>